<div class="rounded border">

    <div class="alert alert-success">
        <h4>Udemy Course Form Assignment</h4>
    </div>
    <form class="p-3"#form='ngForm'>
        <div class="form-group">
            <label for="courseName">Course Name</label>
            <input id="courseName"  ngModel #name='ngModel' (change)='change(name)' class="form-control" required minlength="3" maxlength="50" type="text" name="name">
            <div class="alert alert-danger" *ngIf='(name.touched && name.invalid)'>
                <div *ngIf="name.errors.required">
                    Name is Required
                </div>
                <div *ngIf='name.errors.minlength'>
                    name should be of minimum {{name.errors?.minlength.requiredLength}} Character lenght
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="category">Category</label>
            <select name="category" ngModel #category='ngModel' class="form-control" id="category" required>
                <!-- <option value="{{cat.id}}" *ngFor='let cat of courseCategories' >{{cat.category}}</option> -->
                <option [ngValue]="cat" *ngFor='let cat of courseCategories' >{{cat.category}}</option>
            </select>

            <div [hidden]='!(category.touched && category.invalid)' class="alert alert-danger">
                Category is Required...
            </div>
        </div>
        <div class="checkbox">
            <label for="hasGuarantee">
                <input type="checkbox" id='hasGuarantee' name='hasGuarantee' ngModel>
                30-Days Money-Back Garranty
            </label>
        </div>

        <input type="submit" class="btn btn-primary" value='Create' [disabled]='form.invalid'>

        <div class="border p-2 m-3 rounded">
            {{form.value | json}}
        </div>
    </form>

</div>