

<h1>Angular</h1>
<hr>



<!-- FormArray -->
<add-course></add-course>


<!--  Reactive Forms -->
<!-- <signup-form></signup-form> -->

<!-- Assignment Udemy Course Form -->
<!-- <udemy-course-form></udemy-course-form> -->



<!-- Form  -->
<!-- <app-contact-form></app-contact-form> -->




<!-- Zippy COmponent -->
<!-- <div class="alert alert-success">
	<h4>Zippy Component Assignment</h4>
</div>
<zippy title='Orders'>
	Orders Details
</zippy>
<zippy title='Profile'>
	Profile Details
</zippy>
 -->


<!-- Custom Directive -->
<!-- <div class="alert alert-success">
	<h4>Creating Custom Directive</h4>
</div>

<div>
	<input type="text" name="" class="form-control" [appInputFormat]='"lowercase"' id="" placeholder="enter Some Text">
</div> -->