<div>
    <form [formGroup]='form' (ngSubmit)='change()'>
        <div class="form-group">
            <label for="oldPassword">Old Password</label>
            <input type="password" formControlName='oldPassword' class="form-control">
            <div class="alert alert-danger" *ngIf='oldPassword.touched && oldPassword.invalid'>
                <div *ngIf='oldPassword.errors.required'>
                        old Password is Required..
                </div>
                <div *ngIf='oldPassword.errors.oldPasswordValidator'>
                    Old Password is not Valid
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="newPassword">New Password</label>
            <input type="password" formControlName='newPassword' class="form-control">
            <div class="alert alert-danger" *ngIf='newPassword.touched && newPassword.invalid'>
                New Password is Required..
            </div>
        </div>
        <div class="form-group">
            <label for="newPasswordAgain">Confirm Password</label>
            <input type="password" formControlName='newPasswordAgain' class="form-control">
            <div class="alert alert-danger" *ngIf='newPasswordAgain.touched && newPasswordAgain.invalid'>
                <div *ngIf='newPasswordAgain.errors.required'>
                        Re-enter Password..
                </div>
                <div *ngIf='newPasswordAgain.errors.passwordNotMatched'>
                    Passoword Dont Matched
                </div>
                {{newPasswordAgain.errors | json}}
            </div>
        </div>
        <input type="submit" value="Change Password" class="btn btn-primary">
    </form>
</div>